# Database Connection Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=timescale_practice
DB_USER=postgres
DB_PASS=postgres

# Twelve Data Websocket API KEY (Only if you use websocket)
TWELVE_DATA_SECRET_API_KEY=YOUR_REAL_API_KEY_HERE
